@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$rythm-16: 1rem;
$rythm-24: 2rem;
$rythm-32: 3rem;
$rythm-64: 4rem;

$gold: #D9B834;


body{
    font-family: Roboto, Arial, sans-serif;
    margin: $rythm-16;
}

h1 {
    text-align: center;
    margin: $rythm-24;
}

.searcher__container {
    width: 100%;
    display: flex;
    border: solid lightgrey;
    border-radius: 0.3rem;
    border-width: 0.5px;
   
    &__elements {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: $rythm-16;
    }

    &__input {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: $rythm-16;
        align-items: center;
    
        input {
            padding: 0.5rem 0.5rem;
            width: 50%;
            border-radius: 0.3rem;
            border: solid 0.5px;
            border-color: lightgrey;
            margin-right: $rythm-16;
            font-size: small;
        }
    
        span {
            font-size: smaller;
            font-weight: bold;
        }
    }

}

.button {

    &-search {
        width: 50%;
        height: 30px;
        background-color: lightgrey;
        border: none;
        border-radius: 1.5rem;
        margin-left: calc(25% - 8px);
        text-align: center;
        margin-top: -1rem;
        position: absolute;
        margin-bottom: 6rem;

        &-favourites{
            width: 96%;
            margin-left: 0;
        }
    }

    &-container {
        display: flex;
        justify-content: center;
    }
    
    &-favourites {
        width: 25%;
        height: 30px;
        border-radius: 1.5rem;
        margin: $rythm-64 0 $rythm-32;
        text-align: center;
        border: solid 1px;
        border-color: $gold;
        color: $gold;
        background-color: transparent;

        [class^="icon-star"], 
        [class*="icon-star"] {
            font-size: small;
            color: $gold;
            border: none;
            margin-right: $rythm-16;
            text-align: center;
        }
    }
}

table {
    width: 100%;

    .brand-img{
        height: 1.5rem;
        margin-right: $rythm-32;
    }  
}

.favourites{
    
    &__link {
        margin-bottom: $rythm-32;
    }

    &__title { 
        text-align: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
    }

    &__button {
        background-color: transparent;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0px;
    } 
}

[class^="icon-star"], 
[class*="icon-star"] {
    font-size: large;
    color: $gold;
    border: none;
    margin: $rythm-16 0;
}

/* MODAL */

.modal-body{
    margin-bottom: 4rem;

    table{
        margin-top: 4rem;
    }
}


/* OVERWRITE */

td.mat-cell:first-of-type{
    width:10%;
}

:focus {
    outline: none;
}

mat-paginator ::ng-deep{ 

    .mat-paginator-page-size{
        display: none;
    }

    .mat-paginator-container {
        justify-content: center;
        margin: $rythm-16 0 $rythm-24;
    }

    button{
        background-color: transparent;
        outline: transparent;
    }
}

.no-results{
    margin-top: 3rem;
    height: 150px;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span{
        margin-top: 1.5rem;
        font-size: x-large;
    }
}





