<body>
  <h1>
    INSURANCE MANAGER
  </h1>
  <div class="searcher__container">
    <div class="searcher__container__elements">
      <div *ngFor="let element of formInputs; let i=index">
        <div *ngIf="i < 2" class="searcher__container__input">
          <span> {{element.name}} </span>
          <input [(ngModel)]="element.value" placeholder="Enter {{element.name}}">
        </div>
      </div>
    </div>
    <div class="searcher__container__elements">
        <div *ngFor="let element of formInputs; let i=index">
          <div *ngIf="i >= 2" class="searcher__container__input">
            <span> {{element.name}} </span>
            <input [(ngModel)]="element.value" placeholder="Enter {{element.name}}">
          </div>
        </div>
      </div>
    </div>
  
  <button (click)="getList()" class="icon-search button-search"> </button>

  <div *ngIf="actualTableData && actualTableData.length > 0" class="button-container">
    <button (click)="open(content)" 
            class="button-favourites">
      <span class="icon-star-full"></span> 
      Favourites 
    
    </button>
    
  </div>

  
  <ng-container *ngIf="actualTableData && actualTableData.length > 0; else showNoResults">
    
    <table mat-table [dataSource]="actualTableData" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)"> 
    
      <ng-container matColumnDef="Logo">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> 
          <img class="brand-img" src="assets/img/{{element.brandImage}}">
        </td>
      </ng-container>

      <ng-container matColumnDef="Product Name">
        <th mat-header-cell *matHeaderCellDef> Product Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Insurance Company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="brand"> Insurance Company </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Policy Kind">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="kind"> Policy Kind </th>
        <td mat-cell *matCellDef="let element"> {{element.kind}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="price"> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="Favourites">
        <th mat-header-cell *matHeaderCellDef class="favourites__title"> Favourites </th>
        <td mat-cell *matCellDef="let element" class="favourites__icon"> 
          <button class="favourites__button" 
                  [ngClass]="element.favourite ? 'icon-star-full' : 'icon-star-empty'" 
                  (click)="elementSelected(element)"></button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <mat-paginator  *ngIf="tableData && tableData.length > 5" 
                  [length]="tableData.length" 
                  [pageSize]="tableLenght"
                  (page)="pageEvent = $event; loadTable()"></mat-paginator>

                </ng-container>
  
  <ng-template #showNoResults>
    <div *ngIf="tableData" class="no-results">
      Sorry, there are no results with this filters
      <span class="icon-sad"></span>
    </div>
  </ng-template>

  
</body>

<router-outlet></router-outlet>


<!-- MODAL FAVOURITES -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Favourites</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="searcher__container__elements">
          <div *ngFor="let item of formInputsModal; let i=index">
            <div class="searcher__container__input">
              <span> {{item.name}} </span>
              <input [(ngModel)]="item.value" placeholder="Enter {{item.name}}">
            </div>
          </div>
        </div>
    </div>
    <button (click)="getListModal()" class="icon-search button-search button-search-favourites"> </button>
    <ng-container *ngIf="modalTableData && modalTableData.length > 0; else showNoResultsModal">
      <table mat-table [dataSource]="actualModalTableData" class="mat-elevation-z8" matSort (matSortChange)="sortDataModal($event)"> 
      
        <ng-container matColumnDef="Logo">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <img class="brand-img" src="assets/img/{{element.brandImage}}">
          </td>
        </ng-container>

        <ng-container matColumnDef="Product Name">
          <th (click)="sortList" mat-header-cell *matHeaderCellDef mat-sort-header="name"> Product Name
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Insurance Company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="brand"> Insurance Company </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Policy Kind">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="kind"> Policy Kind </th>
          <td mat-cell *matCellDef="let element"> {{element.kind}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Favourites">
          <th mat-header-cell *matHeaderCellDef class="favourites__title"> Favourites </th>
          <td mat-cell *matCellDef="let element" class="favourites__icon"> 
            <button class="favourites__button" 
                    [ngClass]="element.favourite ? 'icon-star-full' : 'icon-star-empty'" 
                    (click)="elementSelected(element)"></button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsModal"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsModal;"></tr>
      </table>
      <mat-paginator  *ngIf="modalTableData && modalTableData.length > 5" 
        [length]="modalTableData.length" 
        [pageSize]="tableLenght"
        (page)="pageEventModal = $event; loadTableModal()"></mat-paginator>
    </ng-container>
    <ng-template #showNoResultsModal>
      <div class="no-results">
        Sorry, there are no favourites  
        <span class="icon-sad"></span>
      </div>
    </ng-template>
  </div>

</ng-template>
