@font-face {
    font-family: 'icomoon';
    src:  url('./assets/fonts/icons/icomoon.eot?pfiz24');
    src:  url('./assets/fonts/icons/icomoon.eot?pfiz24#iefix') format('embedded-opentype'),
      url('./assets/fonts/icons/icomoon.ttf?pfiz24') format('truetype'),
      url('./assets/fonts/icons/icomoon.woff?pfiz24') format('woff'),
      url('./assets/fonts/icons/icomoon.svg?pfiz24#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-spinner:before {
    content: "\e97a";
  }
  .icon-spinner6:before {
    content: "\e97f";
  }
  .icon-spinner7:before {
    content: "\e980";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-star-empty:before {
    content: "\e9d7";
  }
  .icon-star-full:before {
    content: "\e9d9";
  }
  .icon-sad:before {
    content: "\e9e5";
  }
  .icon-cross:before {
    content: "\ea0f";
  }
  .icon-arrow-up2:before {
    content: "\ea3a";
  }
  .icon-arrow-down2:before {
    content: "\ea3e";
  }
  .icon-circle-up:before {
    content: "\ea41";
  }
  .icon-circle-down:before {
    content: "\ea43";
  }
  .icon-checkbox-checked:before {
    content: "\ea52";
  }
  .icon-checkbox-unchecked:before {
    content: "\ea53";
  }

  